:root{
    --main_size: 50;
}

#preloader-container {
    text-align: center;
    padding: 20px;

    &>#container__sapphire {
        position: relative;
        /* height: 259.8px; */
        width: calc(var(--main_size) * 6px);
        margin: 0 auto;

        &>#sapphire__upper-triangles-block {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(var(--main_size) * 5px);
            /* height: 86.6px; */
            z-index: 5;
        }

        & .triangle {
            position: absolute;
            width: 0;
            height: 0;
            filter: drop-shadow(0 0 2px grey);
            transition: 0.5s;
            transition-duration: 1s;

            &.triangle--small {
                border-left: calc(var(--main_size) * 1px) solid transparent;
                border-right: calc(var(--main_size) * 1px) solid transparent;

                &.triangle-up {
                    border-bottom: 86.6px solid lightblue;

                    &>.triangle-text {
                        bottom: -60px;
                        left: -5px;
                    }
                }

                &.triangle-down {
                    border-top: 86.6px solid lightblue;

                    &>.triangle-text {
                        bottom: calc(var(--main_size) * 1px);
                        left: -5px;
                    }
                }
            }

            &>.triangle-text {
                visibility: hidden;
                transition: 0.3s;
                font-size: 1.7rem;
                position: absolute;
                text-indent: -2px;
                color: grey;

                &.visible {
                    animation: letterToBottom;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    visibility: visible;
                }
            }
            &.triangle-colored {
                filter: drop-shadow(0px 0px 3px rgb(55, 114, 133));
                border-top-color: rgb(207, 227, 232);
                border-bottom-color: rgb(207, 227, 232);
            }
        }

        & .triangle-big--center {
            border-left: 75px solid transparent;
            border-right: 75px solid transparent;
            border-top: calc(var(--main_size) * 4px) solid lightblue;
            left: calc(var(--main_size) * 2px);
            top: 86.6px;
            z-index: 4;

            &>.triangle-text {
                top: -125px;
                left: -5px;
            }
        }

        & .triangle-big--left {
            border-left: calc(var(--main_size) * 3px) solid transparent;
            border-right: 0px solid transparent;
            border-top: calc(var(--main_size) * 4px) solid lightblue;
            left: 25px;
            top: 86.6px;
            z-index: 1;

            &>.triangle-text {
                top: -155px;
                left: -85px;
            }
        }

        & .triangle-big--right {
            border-left: 0px solid transparent;
            border-right: calc(var(--main_size) * 3px) solid transparent;
            border-top: calc(var(--main_size) * 4px) solid lightblue;
            left: 175px;
            top: 86.6px;
            z-index: 2;

            &>.triangle-text {
                top: -150px;
                left: 75px;
            }
        }
    }
}


/* Позиционирование верхних треугольников */
.triangle--small:nth-child(1) {
    left: 0;
}
.triangle--small:nth-child(2) {
    left: calc(var(--main_size) * 1px);
}
.triangle--small:nth-child(3) {
    left: calc(var(--main_size) * 2px);
}
.triangle--small:nth-child(4) {
    left: calc(var(--main_size) * 3px);
}
.triangle--small:nth-child(5) {
    left: calc(var(--main_size) * 4px);
}


@keyframes letterToBottom {
    from {
        /* transform: translateY(-10px); */
        opacity: 0.7;
    }

    to {
        /* transform: translateY(10px); */
        opacity: 0;
    }
}
